
@import "enron/typography";

@background-color: #0b0b0b;
@text-color: #f0f0f0;
@accent-color: #72DEC2;

@font-title: 'MainFont';

@font-face {
    font-family: @font-title;
	font-display: block;
    src:
        url('fnt/helvetica_neue_65.woff2') format('woff2'),
        url('fnt/helvetica_neue_65.woff') format('woff'),
        url('fnt/helvetica_neue_65.ttf') format('truetype');
}

body {

	font-family: @font-title;
	font-size: 16px;

	background: @background-color;
	color: @text-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @font-title;
	margin: 0;
}

a {
    text-decoration: none;
    color: @text-color;
    transition: color 0.1s;
    &:hover {
        color: @accent-color;
    }
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

::selection {
    background: @accent-color;
    color: @text-color;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #0b0b0b;
}
::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;
}

header {
	margin: 40px 20px 10px 20px;
	cursor: default;
	h1 {
		.typo-h1();
		letter-spacing: -0.25rem;
	}
}

main {
	padding: 20px 40px 60px 30px;
	ol.playlist {
		li {
			white-space: nowrap;
			margin: 0;
			font-size: 28px;
			font-weight: 700;
			letter-spacing: -0.025rem;
		}
	}
}

footer {
    display: none;
}

#videoplayers {
	display: none;
}
